<% include ../../partials/header %>
<div class="page-header">
	<div class="page-title">
    Imei Info
	</div>
	<div class="page-actions">

	</div>
</div>
<div class="page-content">
    <div class="row">
        <div class="col-md-4">
                <span class="d-block p-2 bg-primary text-white">Imei Info</span>
                <%= productsInfo %>
                <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                      </ul>
        </div>
        <div class="col-md-4">
                <span class="d-block p-2 bg-primary text-white">Vendor</span>
                <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                      </ul>
        </div>
        <div class="col-md-4">
                <span class="d-block p-2 bg-primary text-white">Client</span>
                <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                      </ul>
                <%= cproducts %>
        </div>
    </div>
    
    
</div>
<% include ../../partials/footer %>