<% include ../../partials/header %>
<div class="page-header">
	<div class="page-title">
    Add Inquiry
	</div>
	<div class="page-actions">
  </div>
  <div class="page-content">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label for="search_client">Search Client</label>
          <input type="text" name="search_client" id="search_client" placeholder="Search Client By Phone Number">
        </div>
      </div>
      <div id="client_field" class="col-md-8">

      </div>
    </div>
    <hr>
    <form action="/inquiry/add" method="post" role="form" class="row">
      <div id ="nSaleB" class="col-md-4 col-sm-6 col-xs-12">
        <div class="md-form">
          <label for="first_name">First Name</label>
          <input type="text" id="first_name" name="first_name" class="form-control">
        </div>
        <div class="md-form">
          <label for="first_name">Last Name</label>
          <input type="text" id="last_name" name="last_name" class="form-control">
        </div>
        <div class="md-form">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control">
        </div>
        <div class="md-form">
          <label for="phone">Phone</label>
          <input type="text" id="phone" name="phone" class="form-control">
        </div>
      </div>
      <div class="col-md-8 col-sm-6 col-xs-12">
        <div class="md-form">
          <label for="query">Query</label>
          <textarea id="query" name="query" class="form-control"></textarea>
        </div>
				<div class="md-form">
          <label for="reminder">Reminder</label>
          <input type="text" name="reminder" id="datetimepicker" placeholder="dd-mm-yyyy hh:ii" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </div>
    </form>
	</div>
</div>
<% include ../../partials/footer %>
