<% include ../../partials/header %>
<div class="page-header">
	<div class="page-title">
		Expenses
	</div>
	<div class="page-actions">
		<a href="/expenses/add/" class="btn btn-primary">New Expense</a>
	</div>
</div>
<div class="page-content">
	<table class="table table-striped table-hover table-sm data-tables">
		<thead class="thead-dark">
			<tr>
				<th>Date</th>
				<th>Category</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			<% for(var e of expense){ %>
			<tr>
					<td><%= e.created_at %></td>
					<td>
            <%
              for(var c of expenseC){
                if(e.category == c.id){
            %>
            <%= c.title %>
            <% } } %>
          </td>
					<td><%= e.amount %></td>
			</tr>
			<% } %>
		</tbody>
	</table>
</div>
<% include ../../partials/footer %>
